//Colors
$primary: "#FE5F1E";
$primary-hover: "#b23301";
$pure: "#fff";
//$secondary: "#F8F8F8";
$secondary: rgb(223, 219, 219);
$dark: "#232323";
$gray: "#ccc";
//transition
$smooth: all 0.3s ease-in-out;
